body {
    width : 100%;
    margin: 0 auto;    
}

.root {
    width : 100%;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99.7%; 
    padding: 2px;
}

.tableCities {
    width : 24.7%;    
    margin: 0 auto;
    padding-left : 1px;    
   /* font-weight: 500; */
}

.row_class {
    height: 20px !important;   
    padding-left: 5px !important;      
}

.noPadding > div {
    padding: 0px !important;
}

.cardRowClass {    
    line-height: 1.8 !important; 
    padding-top: 5px !important; 
    padding-left: 7px !important; 
    padding-right: 0px !important; 
    padding-bottom: 0px !important; 
}

.header_class {
    height: 30px !important;   
    width: 100% !important;
    line-height: 1.8 !important; 
    padding-left: 5px !important; 
}

.header_class_pequeno {
    height: 10px !important;   
    width: 100% !important;
    line-height: 1.0 !important; 
    padding-left: 0px !important; 
}

.footer_class {    
    height: 30px !important;   
    width: 100% !important;
}

.footer_class_pequeno {
    height: 10px !important;   
    width: 100% !important;
    line-height: 0.0 !important; 
    padding-left: 0px !important; 
}

.super_footer_class {    
    height: 20px !important;   
    width: 100% !important;    
}

.super_header_class {
    font-size: 1.1em !important; 
}

.content-wrapper {
    width:100px;
    max-height:100px;
    margin:0 auto;
}

.footer{
    /*display: flex;
    flex-direction: row;*/
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {
    .tableCities {
        width : 49.5%;
    }
  }
  
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .tableCities {
        width : 100%;
    }    
  }